<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <style>
        .product-details {
            padding: 20px;
        }

        .quantity-selector input {
            text-align: center;
        }

        .btn {
            padding: 12px 24px;
        }

        .prod-name {
            font-weight: 800;
            margin-bottom: 12px;
        }

        /* Chrome, Safari, Edge, Opera 브라우저용 */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox 브라우저용 */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .nav-tabs .nav-link {
            color: #666;
            border: none;
            border-bottom: 2px solid transparent;
            min-width: 120px;
            text-align: center;
        }

        .nav-tabs .nav-link.active {
            color: #000;
            border: none;
            border-bottom: 2px solid #000;
            font-weight: 500;
        }

        .table th,
        .table td {
            padding: 10px;  /* 기본 패딩값 증가 */
            vertical-align: middle;
            font-size: 13px;
        }

        .table th {
            font-weight: normal;
            color: #6c757d;
            background-color: #f8f9fa;
            width: 30%;  /* th 너비 증가 */
        }

        .table td {
            width: 70%;  /* td 너비 증가 */
        }

        /* 테이블 전체 너비 조정 */
        .table {
            border-color: #F0F0F0;
            margin-bottom: 2rem;
        }

        .col-custom {
            width: 45.833%;  /* 5.5/12 * 100 = 45.833% */
            padding: 0 15px;
        }

        .review-detail-box {
            padding: 15px;
            background-color: #f8f9fa;
            border-radius: 4px;
            margin: 10px 0;
        }

        .review-content td {
            background-color: #f8f9fa;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script id="templateReview" type="text/x-handlebars-template">
        <table class="table" id="reviewTable">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>평점</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                {{#each .}}
                <tr>
                    <td>{{rev_code}}</td>
                    <td>{{rateToStar rev_rate}}</td>
                    <td>{{rev_title}}</td>
                    <td>{{u_id}}</td>
                    <td>{{convertDate rev_regdate}}</td>
                </tr>
                <tr class="review-content" id="content-{{rev_code}}" style="display: none;">
                    <td colspan="5">
                        <div class="review-detail-box">
                            {{rev_content}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>

    <script th:inline="javascript">
        // 핸들바 사용자 정의 함수 - 리뷰등록일(rev_regdate) 표시 포맷을 YYYY.MM.DD
        Handlebars.registerHelper("convertDate", function(reviewDate) {
            const date = new Date(reviewDate);

            let month = (date.getMonth()+1 < 10 ? "0" + (date.getMonth()+1) : date.getMonth()+1);
            let day = (date.getDate() < 10 ? "0" + (date.getDate()) : date.getDate());
            return date.getFullYear() + "." + month + "." + day
        });

        // 핸들바 사용자 정의 함수 - 리뷰평점(rev_rate) 점수에 따른 별(★)표시
        Handlebars.registerHelper("rateToStar", function(rating) {
            let star = "";
            switch(rating) {
                case 1:
                    star = "★☆☆☆☆";
                    break;
                case 2:
                    star = "★★☆☆☆";
                    break;
                case 3:
                    star = "★★★☆☆";
                    break;
                case 4:
                    star = "★★★★☆";
                    break;
                case 5:
                    star = "★★★★★";
                    break;
            }
            return star;
        });
    </script>
</th:block>

<th:block layout:fragment="content">
    <div style="max-width: 1240px;">
        <div class="container mt-5">
            <div class="row justify-content-between">
                <!-- 제품 이미지 -->
                <div class="col-custom">
                    <img th:src="${'/product/image_display?dateFolderName=' + productVO.prod_uploadfolder + '&fileName=' + productVO.prod_img}" class="img-fluid rounded w-100" alt="제품 이미지">
                </div>

                <!-- 제품 정보 -->
                <div class="col-custom">
                    <div class="product-details">
                        <!-- 제품명 -->
                        <h1 class="prod-name" th:text="${productVO.prod_name}"></h1>

                        <!-- 가격 정보 -->
                        <div class="price-info mb-4">
                            <div class="d-flex align-items-center">
                                <h3 th:text="${#numbers.formatInteger(productVO.prod_price, 1, 'COMMA')} + '원'"></h3>
                            </div>
                        </div>

                        <!-- 수량 선택 -->
                        <div class="quantity-selector mb-4">
                            <div class="input-group" style="max-width: 200px">
                                <button class="btn btn-outline-secondary" type="button" onclick="decrement()">-</button>
                                <input type="number" class="form-control text-center" value="1" id="quantity" min="1" oninput="handleInput(this)">
                                <button class="btn btn-outline-secondary" type="button" onclick="increment()">+</button>
                            </div>
                        </div>

                        <!-- 총 금액 -->
                        <div class="total-price mb-5">
                            <h4 class="mb-2">총 합계 금액: <strong style="color: orangered">32원</strong></h4>
                        </div>

                        <!-- 버튼 그룹 -->
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark" type="button">구매하기</button>
                            <div class="d-flex gap-2">
                                <button class="btn btn-outline-dark flex-fill" type="button" name="addToCart" th:data-prod_id="${productVO.prod_id}" id="addToCartBtn">
                                    <i class="bi bi-heart"></i> 찜하기
                                </button>
                                <button class="btn btn-outline-dark flex-fill" type="button" name="addToWish" th:data-prod_id="${productVO.prod_id}">
                                    <i class="bi bi-cart"></i> 장바구니
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상세정보 탭 -->
        <div id="tab-detail-content">
            <ul id="tab-detail" class="nav nav-tabs justify-content-center my-5">
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-review">리뷰<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-inquiry">문의<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div>
                <p th:utext="${productVO.prod_content}"></p>
            </div>
        </div>

        <!-- 리뷰 탭 -->
        <div id="tab-review-content">
            <ul id="tab-review" class="nav nav-tabs justify-content-center my-5">
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-review">리뷰<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-inquiry">문의<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            </ul>
            <div class="row">
                <!-- 리뷰내용 -->
                <div class="col" id="reviewList"></div>
            </div>
            <div>
                <!-- 리뷰페이징 -->
                <div class="col" id="reviewPaging"></div>
            </div>
        </div>

        <!-- 문의 탭 -->
        <div id="tab-inquiry-content">
            <ul id="tab-inquiry" class="nav nav-tabs justify-content-center my-5">
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-review">리뷰<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-inquiry">문의<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div>
                <h5>상품문의</h5>
            </div>
        </div>

        <!-- 구매안내 탭 -->
        <div id="tab-shopinfo-content">
            <ul id="tab-shopinfo" class="nav nav-tabs justify-content-center my-5">
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-review">리뷰<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-inquiry">문의<span class="text-muted">(0)</span></a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div class="container mt-4">
                <div class="row">
                    <!-- 판매자 정보 -->
                    <div class="col-md-6">
                        <h5 class="mb-3">판매자 정보</h5>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="w-25 text-secondary bg-light">상호명</th>
                                <td>몰바이디에이치</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">대표전화</th>
                                <td>0000-0000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">대표자</th>
                                <td>이동한</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">팩스전화</th>
                                <td>000-0000-0000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">사업자등록번호</th>
                                <td>000-00-00000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">대표 이메일</th>
                                <td>help@tempemailaddress.com</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">통신판매업신고번호</th>
                                <td>000000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">사업장 소재지</th>
                                <td>서울특별시 어딘가</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 배송 정보 -->
                    <div class="col-md-6">
                        <h5 class="mb-3">배송 정보</h5>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="w-25 text-secondary bg-light">지정택배사</th>
                                <td>CJ대한통운</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">평균배송기간</th>
                                <td>영업일 2-3일</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">기본배송비</th>
                                <td>개별배송 3,000원</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">반송주소</th>
                                <td>서울특별시 어딘가</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script2">
    <script>
        function handleInput(input) {
            let value = parseInt(input.value);

            // 빈 값이거나 1 미만인 경우 1로 설정
            if (isNaN(value) || value < 1) {
                value = 1;
            }

            input.value = value;
            updateTotalPrice(value);
        }

        function increment() {
            const input = document.getElementById('quantity');
            let value = parseInt(input.value);
            value++;
            input.value = value;
            updateTotalPrice(value);
        }

        function decrement() {
            const input = document.getElementById('quantity');
            let value = parseInt(input.value);
            if (value > 1) {
                value--;
                input.value = value;
                updateTotalPrice(value);
            }
        }

        function updateTotalPrice(quantity) {
            const pricePerUnit = 32;
            const totalPrice = quantity * pricePerUnit;
            document.querySelector('.total-price strong').textContent = totalPrice + '원';
        }

        // 메뉴 클릭 시 스크롤 위치 조정
        $('.nav-link').on('click', function(e) {
            e.preventDefault();  // 기본 동작 중지
            let targetId = $(this).attr('href');
            let offset = $(targetId).offset().top - 50;  // 상단 여백 50px

            $('html, body').animate({
                scrollTop: offset
            }, 300);  // 0.3초 동안 부드럽게 스크롤
        });

        $(document).ready(function() {
            // 상품페이지 - 장바구니 버튼 클릭 시
            $("button[name='addToCart']").on("click", function () {
                let prod_id = $(this).data("prod_id");
                let cart_amount = $("#quantity").val();
                $.ajax({
                    url: '/cart/cart_add',
                    type: 'post',
                    data: {prod_id: prod_id, cart_amount: cart_amount},
                    dataType: 'text',
                    success: function (result) {
                        if (result == "success") {
                            alert("장바구니에 등록되었습니다.");
                            if (confirm("장바구니로 이동하시겠습니까?")) {
                                location.href = "/cart/";
                            }
                        }
                    }
                });
            });
        });

        // 상품후기 - 클릭 시 내용 표시 관련
        $(document).on('click', 'tr', function() {
            const reviewCode = $(this).find('td:first').text();
            const contentRow = $(`#content-${reviewCode}`);
            $('.review-content').not(contentRow).hide();
            contentRow.toggle();
        });

        // 상품후기 작업
        let prod_id = document.getElementById('addToCartBtn').dataset.prod_id;
        let reviewPage = 1;
        let url = "/review/rev_list/" + prod_id + "/" + reviewPage;

    </script>
</th:block>
</html>