<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <style>
        .product-details {
            padding: 20px;
        }

        .quantity-selector input {
            text-align: center;
        }

        .btn {
            padding: 12px 24px;
        }

        .prod-name {
            font-weight: 800;
            margin-bottom: 12px;
        }

        /* Chrome, Safari, Edge, Opera 브라우저용 */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox 브라우저용 */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .nav-tabs .nav-link {
            color: #666;
            border: none;
            border-bottom: 2px solid transparent;
            min-width: 120px;
            text-align: center;
        }

        .nav-tabs .nav-link.active {
            color: #000;
            border: none;
            border-bottom: 2px solid #000;
            font-weight: 500;
        }

        .table th,
        .table td {
            padding: 10px;  /* 기본 패딩값 증가 */
            vertical-align: middle;
            font-size: 13px;
        }

        .table th {
            font-weight: normal;
            color: #6c757d;
            background-color: #f8f9fa;
            width: 30%;  /* th 너비 증가 */
        }

        .table td {
            width: 70%;  /* td 너비 증가 */
        }

        /* 테이블 전체 너비 조정 */
        .table {
            border-color: #F0F0F0;
            margin-bottom: 2rem;
        }

        .col-custom {
            width: 45.833%;  /* 5.5/12 * 100 = 45.833% */
            padding: 0 15px;
        }

        .review-detail-box {
            padding: 15px;
            background-color: #f8f9fa;
            border-radius: 4px;
            margin: 10px 0;
        }

        .inquiry-detail-box {
            background-color: #f8f9fa;
            border-radius: 4px;
        }

        .review-content td {
            background-color: #f8f9fa;
        }

        .inquiry-content td {
            background-color: #f8f9fa;
        }

        .inquiry-answer td {
            background-color: lightyellow;
        }

        #star-rating a.rev_rate {
            font-size: 28px;
            color: lightgrey;
        }

        #star-rating a.rev_rate.on {
            color: hotpink;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script id="templateReview" type="text/x-handlebars-template">
        <style>
            #reviewTable {
                table-layout: fixed;
                width: 100%;
                text-align: center;
            }

            #reviewTable td, #reviewTable th {
                word-wrap: break-word;
                overflow: hidden;
            }

            .form-control::placeholder {
                color: #6c757d;
                font-size: 0.875em;
                opacity: 1;
            }
        </style>
        {{#if .}}
        <div class="d-flex justify-content-between align-items-center p-5" style="background-color: #EAEAEA;">
            <h5 class="my-1 fw-bold">총 <u class="fw-bolder" th:text="${#numbers.formatInteger(productVO.prod_reviewcount, 1, 'COMMA')}"></u>건의 리뷰가 있습니다.</h5>
            <button type="button" class="btn btn-dark btn-sm" style="padding: 6px 12px 6px 12px;" data-bs-toggle="modal" data-bs-target="#reviewModal">리뷰 작성하기</button>
        </div>
        <table class="table" id="reviewTable">
            <thead>
            <tr>
                <th style="width: 15%">평점</th>
                <th style="width: 65%">제목</th>
                <th style="width: 10%">작성자</th>
                <th style="width: 10%">작성일</th>
            </tr>
            </thead>
            <tbody>
            {{#each .}}
            <tr class="review-row">
                <td>{{rateToStar rev_rate}}</td>
                <td>{{rev_title}}</td>
                <td>{{u_id}}</td>
                <td>{{convertDate rev_regdate}}</td>
            </tr>
            <tr class="review-content" id="review-content-{{rev_code}}" style="display: none;">
                <td colspan="4">
                    <div class="review-detail-box">
                        {{rev_content}}
                    </div>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="d-flex flex-column align-items-center" style="margin-bottom: 16px; margin-top: 64px;">
            <i class="bi bi-chat-heart mb-2" style="font-size: 50px;"></i>
            <span class="mb-3">아직 작성된 리뷰가 없습니다.</span>
            <button type="button" class="btn btn-outline-success btn-sm" style="padding: 6px 12px 6px 12px;" data-bs-toggle="modal" data-bs-target="#reviewModal">리뷰 작성하기</button>
        </div>
        {{/if}}
    </script>

    <script id="templateInquiry" type="text/x-handlebars-template">
        <style>
            #inquiryTable {
                table-layout: fixed;
                width: 100%;
                text-align: center;
            }

            #inquiryTable td, #inquiryTable th {
                word-wrap: break-word;
                overflow: hidden;
            }

            .form-control::placeholder {
                color: #6c757d;
                font-size: 0.875em;
                opacity: 1;
            }
        </style>
        {{#if .}}
        <div class="d-flex justify-content-between align-items-center p-5" style="background-color: #EAEAEA;">
            <h5 class="my-1 fw-bold">총 <u class="fw-bolder" th:text="${#numbers.formatInteger(productVO.prod_inquirycount, 1, 'COMMA')}"></u>건의 문의가 있습니다.</h5>
            <button type="button" class="btn btn-dark btn-sm" style="padding: 6px 12px 6px 12px;" data-bs-toggle="modal" data-bs-target="#inquiryModal">문의 작성하기</button>
        </div>
        <table class="table" id="inquiryTable">
            <thead>
            <tr>
                <th style="width: 15%">답변여부</th>
                <th style="width: 65%">제목</th>
                <th style="width: 10%">작성자</th>
                <th style="width: 10%">작성일</th>
            </tr>
            </thead>
            <tbody>
            {{#each .}}
            <tr class="inquiry-row">
                <td class="{{#if answers.length}}text-primary fw-bold{{else}}text-secondary{{/if}}">
                    {{#if answers.length}}답변완료{{else}}답변대기{{/if}}
                </td>
                <td>{{inq_title}}</td>
                <td>{{u_id}}</td>
                <td>{{convertDate inq_regdate}}</td>
            </tr>
            <tr class="inquiry-content" id="inquiry-content-{{inq_code}}" style="display: none;">
                <td colspan="4">
                    <!-- 문의내용 -->
                    <div class="inquiry-detail-box p-4">
                        {{inq_content}}
                    </div>
                    <!-- 답변내용 -->
                    {{#if answers.length}}
                    {{#each answers}}
                    <div class="card py-4 mb-1" style="font-size: 12px; background-color: #E6F0FF; box-shadow: none; border: 1px solid cornflowerblue;">
                        <div class="answer">
                            <div class="mb-1">
                                <span>관리자 답변</span>
                                <span class="text-muted">({{convertDate ans_regdate}})</span>
                            </div>
                            <p class="mb-0 fw-bold">{{ans_content}}</p>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="card p-4" style="font-size: 12px; background-color: #E6F0FF; box-shadow: none; border: 1px solid cornflowerblue;">
                        <span>답변이 아직 등록되지 않았습니다.</span>
                    </div>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="d-flex flex-column align-items-center" style="margin-bottom: 16px; margin-top: 64px;">
            <i class="bi bi-chat-text mb-2" style="font-size: 50px;"></i>
            <span class="mb-3">아직 작성된 문의가 없습니다.</span>
            <button type="button" class="btn btn-outline-success btn-sm" style="padding: 6px 12px 6px 12px;" data-bs-toggle="modal" data-bs-target="#inquiryModal">문의 작성하기</button>
        </div>
        {{/if}}
    </script>

    <script th:inline="javascript">
        // 핸들바 사용자 정의 함수 - 리뷰등록일(rev_regdate) 표시 포맷을 YYYY.MM.DD
        Handlebars.registerHelper("convertDate", function(reviewDate) {
            const date = new Date(reviewDate);

            let month = (date.getMonth()+1 < 10 ? "0" + (date.getMonth()+1) : date.getMonth()+1);
            let day = (date.getDate() < 10 ? "0" + (date.getDate()) : date.getDate());
            return date.getFullYear() + "." + month + "." + day
        });

        // 핸들바 사용자 정의 함수 - 리뷰평점(rev_rate) 점수에 따른 별(★)표시
        Handlebars.registerHelper("rateToStar", function(rating) {
            let star = "";
            switch(rating) {
                case 1:
                    star = "★☆☆☆☆";
                    break;
                case 2:
                    star = "★★☆☆☆";
                    break;
                case 3:
                    star = "★★★☆☆";
                    break;
                case 4:
                    star = "★★★★☆";
                    break;
                case 5:
                    star = "★★★★★";
                    break;
            }
            return star;
        });
    </script>
</th:block>

<th:block layout:fragment="content">
    <div style="max-width: 1240px;">
        <div class="container mt-5">
            <div class="row justify-content-between">
                <!-- 제품 이미지 -->
                <div class="col-custom">
                    <img th:src="${'/product/image_display?dateFolderName=' + productVO.prod_uploadfolder + '&fileName=' + productVO.prod_img}" class="img-fluid rounded w-100" alt="제품 이미지">
                </div>

                <!-- 제품 정보 -->
                <div class="col-custom">
                    <div class="product-details">
                        <!-- 제품명 -->
                        <h1 class="prod-name" th:text="${productVO.prod_name}"></h1>

                        <!-- 가격 정보 -->
                        <div class="price-info mb-4">
                            <div class="d-flex align-items-center">
                                <h3 id="unitPrice" th:text="${#numbers.formatInteger(productVO.prod_price, 1, 'COMMA')} + '원'"></h3>
                            </div>
                        </div>

                        <!-- 수량 선택 -->
                        <div class="quantity-selector mb-4">
                            <div class="input-group" style="max-width: 200px">
                                <button class="btn btn-outline-secondary" type="button" onclick="decrement()">-</button>
                                <input type="number" class="form-control text-center" value="1" id="quantity" min="1" oninput="handleInput(this)">
                                <button class="btn btn-outline-secondary" type="button" onclick="increment()">+</button>
                                <input type="hidden" id="prod_amount" th:value="${productVO.prod_amount}">
                            </div>
                        </div>

                        <!-- 총 금액 -->
                        <div class="total-price mb-5">
                            <h4 class="mb-2">총 합계 금액: <strong style="color: orangered" th:text="${#numbers.formatInteger(productVO.prod_price, 1, 'COMMA')} + '원'"></strong></h4>
                        </div>

                        <!-- 버튼 그룹 -->
                        <div class="d-grid gap-2">
                            <th:block th:if="${productVO.prod_amount > 0}">
                                <button class="btn btn-dark" type="button" th:data-prod_id="${productVO.prod_id}" id="btnDirectBuy">구매하기</button>
                            </th:block>
                            <th:block th:unless="${productVO.prod_amount > 0}">
                                <button class="btn btn-outline-secondary" type="button" disabled>현재 재고가 부족하여 구매할 수 없습니다.</button>
                            </th:block>
                            <div class="d-flex gap-2">
                                <button class="btn btn-outline-dark flex-fill" type="button" name="btnAddToCart" th:data-prod_id="${productVO.prod_id}" id="btnAddToCart">
                                    <i class="bi bi-cart"></i> 장바구니
                                </button>
                                <button class="btn btn-outline-dark flex-fill" type="button" name="btnAddToWish" th:data-prod_id="${productVO.prod_id}" id="btnAddToWish">
                                    <i class="bi bi-heart"></i> 찜하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상세정보 탭 -->
        <div id="tab-detail-content">
            <ul id="tab-detail" class="nav nav-tabs justify-content-center my-5">
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-review">리뷰(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_reviewcount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-inquiry">문의(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_inquirycount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div>
                <p th:utext="${productVO.prod_content}"></p>
            </div>
        </div>

        <!-- 리뷰 탭 -->
        <div id="tab-review-content">
            <ul id="tab-review" class="nav nav-tabs justify-content-center mt-5">
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-review">리뷰(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_reviewcount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-inquiry">문의(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_inquirycount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div class="row">
                <!-- 리뷰내용 -->
                <div class="col" id="reviewList">
                </div>
                <!-- 리뷰 작성 모달 -->
                <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-size: 16px;" id="reviewModalLabel">상품리뷰 작성하기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- 별점 선택 -->
                                <div class="text-center mb-4">
                                    <div id="star-rating">
                                        <a class="rev_rate"><i class="bi bi-star-fill"></i></a>
                                        <a class="rev_rate"><i class="bi bi-star-fill"></i></a>
                                        <a class="rev_rate"><i class="bi bi-star-fill"></i></a>
                                        <a class="rev_rate"><i class="bi bi-star-fill"></i></a>
                                        <a class="rev_rate"><i class="bi bi-star-fill"></i></a>
                                    </div>
                                    <div class="text-muted small">별을 클릭하면 선택한 점수로 선택됩니다.</div>
                                </div>
                                <!-- 리뷰 제목 -->
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="reviewTitle" placeholder="제목을 입력해주세요.">
                                </div>
                                <!-- 리뷰 내용 -->
                                <div class="mb-3">
                                    <textarea class="form-control" rows="6" id="reviewContent" placeholder="내용을 입력해주세요."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" style="padding: 6px 12px 6px 12px;">취소하기</button>
                                <button type="button" class="btn btn-dark btn-sm" style="padding: 6px 12px 6px 12px;" id="btnReviewSave" th:data-prod_id="${productVO.prod_id}">등록완료</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- 리뷰페이징 -->
                <div class="col" id="reviewPaging"></div>
            </div>
        </div>

        <!-- 문의 탭 -->
        <div id="tab-inquiry-content">
            <ul id="tab-inquiry" class="nav nav-tabs justify-content-center mt-5">
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-review">리뷰(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_reviewcount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-inquiry">문의(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_inquirycount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div class="row">
                <!-- 문의내용 -->
                <div class="col" id="inquiryList">
                </div>
                <!-- 문의 작성 모달 -->
                <div class="modal fade" id="inquiryModal" tabindex="-1" aria-labelledby="inquiryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-size: 16px;" id="inquiryModalLabel">상품 문의하기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- 문의 제목 -->
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="inquiryTitle" placeholder="제목을 입력해주세요.">
                                </div>
                                <!-- 리뷰 내용 -->
                                <div class="mb-3">
                                    <textarea class="form-control" rows="6" id="inquiryContent" placeholder="내용을 입력해주세요."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal" style="padding: 6px 12px 6px 12px;">취소하기</button>
                                <button type="button" class="btn btn-dark btn-sm" style="padding: 6px 12px 6px 12px;" id="btnInquirySave" th:data-prod_id="${productVO.prod_id}">등록완료</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- 문의페이징 -->
                <div class="col" id="inquiryPaging"></div>
            </div>
            </div>
        </div>

        <!-- 구매안내 탭 -->
        <div id="tab-shopinfo-content">
            <ul id="tab-shopinfo" class="nav nav-tabs justify-content-center my-5">
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-detail">상세정보</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-review">리뷰(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_reviewcount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link fs-6 py-3" href="#tab-inquiry">문의(<span class="text-muted" th:text="${#numbers.formatInteger(productVO.prod_inquirycount, 1, 'COMMA')}"></span>)</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link active fs-6 py-3" href="#tab-shopinfo">구매안내</a>
                </li>
            </ul>
            <div class="container mt-4">
                <div class="row">
                    <!-- 판매자 정보 -->
                    <div class="col-md-6">
                        <h5 class="mb-3">판매자 정보</h5>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="w-25 text-secondary bg-light">상호명</th>
                                <td>몰바이디에이치</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">대표전화</th>
                                <td>0000-0000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">대표자</th>
                                <td>이동한</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">팩스전화</th>
                                <td>000-0000-0000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">사업자등록번호</th>
                                <td>000-00-00000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">대표 이메일</th>
                                <td>help@tempemailaddress.com</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">통신판매업신고번호</th>
                                <td>000000</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">사업장 소재지</th>
                                <td>서울특별시 어딘가</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 배송 정보 -->
                    <div class="col-md-6">
                        <h5 class="mb-3">배송 정보</h5>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="w-25 text-secondary bg-light">지정택배사</th>
                                <td>CJ대한통운</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">평균배송기간</th>
                                <td>영업일 2-3일</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">기본배송비</th>
                                <td>개별배송 3,000원</td>
                            </tr>
                            <tr>
                                <th class="text-secondary bg-light">반송주소</th>
                                <td>서울특별시 어딘가</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script2">
    <script>

        function handleInput(input) {
            let value = parseInt(input.value);

            // 빈 값이거나 1 미만인 경우 1로 설정
            if (isNaN(value) || value < 1) {
                value = 1;
            }

            input.value = value;
            updateTotalPrice(value);
        }

        function increment() {
            const input = document.getElementById('quantity');
            let value = parseInt(input.value);
            value++;
            input.value = value;
            updateTotalPrice(value);
        }

        function decrement() {
            const input = document.getElementById('quantity');
            let value = parseInt(input.value);
            if (value > 1) {
                value--;
                input.value = value;
                updateTotalPrice(value);
            }
        }

        function updateTotalPrice(quantity) {
            const priceElement = document.getElementById('unitPrice');
            const priceText = priceElement.textContent;
            const pricePerUnit = parseInt(priceText.replace(/[^0-9]/g, ''));
            const totalPrice = quantity * pricePerUnit;
            document.querySelector('.total-price strong').textContent = totalPrice.toLocaleString() + '원';
        }

        $(document).ready(function() {
            // 상품후기 남기기 - 별 개수에 따른 색칠
            $(document).on("click", "div#star-rating a.rev_rate", function(e) {
                e.preventDefault();
                $(this).parent().children().removeClass("on");
                $(this).addClass("on").prevAll("a").addClass("on");
            });

            // 메뉴 클릭 시 스크롤 위치 조정
            $('.nav-link').on('click', function(e) {
                e.preventDefault();  // 기본 동작 중지
                let targetId = $(this).attr('href');
                let offset = $(targetId).offset().top - 50;  // 상단 여백 50px

                $('html, body').animate({
                    scrollTop: offset
                }, 300);  // 0.3초 동안 부드럽게 스크롤
            });

            // 상품페이지 - 구매 버튼 클릭 시
            $("#btnDirectBuy").on("click", function() {
                let prod_id = $(this).data("prod_id");
                let cart_amount = parseInt($("#quantity").val());
                let prod_amount = parseInt($("#prod_amount").val());

                // 먼저 장바구니 확인 요청
                $.get(`/order/check_cart?prod_id=${prod_id}&cart_amount=${cart_amount}`, function(response) {
                    let totalAmount = cart_amount + response.existingAmount;

                    if (totalAmount > prod_amount) {
                        alert(`재고가 부족합니다. 현재 장바구니에 ${response.existingAmount}개가 있으며, 추가로 ${prod_amount - response.existingAmount}개 만큼 구매 가능합니다.`);
                        $("#quantity").val(prod_amount - response.existingAmount).focus();
                        return;
                    }

                    if (response.existingAmount > 0) {
                        // 장바구니에 이미 상품이 있는 경우
                        if (confirm(`동일 상품이 장바구니에 ${response.existingAmount}개 있습니다. 함께 구매하시겠습니까? 취소를 누를 경우 현재 선택한 수량만 구매됩니다.`)) {
                            location.href = `/order/order_form?prod_id=${prod_id}&cart_amount=${cart_amount}&type=direct&mergeCart=true`;
                        } else {
                            location.href = `/order/order_form?prod_id=${prod_id}&cart_amount=${cart_amount}&type=direct&mergeCart=false`;
                        }
                    } else {
                        // 장바구니에 상품이 없는 경우
                        location.href = `/order/order_form?prod_id=${prod_id}&cart_amount=${cart_amount}&type=direct`;
                    }
                });
            });


            // 상품페이지 - 장바구니 버튼 클릭 시
            $("button[name='btnAddToCart']").on("click", function () {
                let prod_id = $(this).data("prod_id");
                let cart_amount = $("#quantity").val();
                $.ajax({
                    url: '/cart/cart_add',
                    type: 'post',
                    data: {prod_id: prod_id, cart_amount: cart_amount},
                    dataType: 'text',
                    headers: {"AJAX": "true"},  // AJAX 요청임을 헤더에 명시
                    success: function (result) {
                        if (result == "success") {
                            alert("장바구니에 등록되었습니다.");
                            if (confirm("장바구니로 이동하시겠습니까?")) {
                                location.href = "/cart/";
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            var response = JSON.parse(xhr.responseText);
                            alert("로그인이 필요한 서비스입니다.");
                            window.location.href = response.redirectUrl;
                        } else {
                            alert("오류가 발생했습니다. 다시 시도해주세요.");
                        }
                    }
                });
            });

            // 상품페이지 - 찜하기 버튼 클릭 시
            $("button[name='btnAddToWish']").on("click", function () {
                let prod_id = $(this).data("prod_id");
                $.ajax({
                    url: '/wish/wish_add',
                    type: 'post',
                    data: {prod_id: prod_id},
                    dataType: 'json',
                    headers: {"AJAX": "true"},  // AJAX 요청임을 헤더에 명시
                    success: function (result) {
                        if (result.status === "success") {
                            if (result.isNewItem) {
                                if (confirm("찜하기 완료! 찜한 상품 목록을 확인하실까요?")) {
                                    location.href = "/member/wishlist";
                                }
                            } else {
                                alert("이미 찜한 상품입니다.");
                            }
                        } else {
                            alert("찜하기 실패. 다시 시도해주세요.");
                        }
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            var response = JSON.parse(xhr.responseText);
                            alert("로그인이 필요한 서비스입니다.");
                            window.location.href = response.redirectUrl;
                        } else {
                            alert("오류가 발생했습니다. 다시 시도해주세요.");
                        }
                    }
                });
            });

            // 상품후기 - 클릭 시 내용 표시 관련
            $(document).on('click', '.review-row', function() {
                const reviewCode = $(this).next('.review-content').attr('id').split('-').pop();
                const contentRow = $(`#review-content-${reviewCode}`);
                $('.review-content').not(contentRow).hide();
                contentRow.toggle();
            });

            // 상품후기 작업
            let prod_id = document.getElementById('btnAddToCart').dataset.prod_id;
            let reviewPage = 1;
            let url = "/review/rev_list/" + prod_id + "/" + reviewPage;

            getPage(url);

            function getPage(url) {
                $.getJSON(url, function(data) {
                    fn_displayReviewData(data.rev_list, $("div#reviewList"), $("#templateReview"));
                    fn_displayReviewPaging(data.revPageMaker, $("div#reviewPaging"));
                });
            }

            function fn_displayReviewData(reviewData, target, template) {
                let templateObj = Handlebars.compile(template.html());
                let reviewHtml = templateObj(reviewData);

                target.empty();
                target.append(reviewHtml);
            }

            // 페이징 출력 함수
            function fn_displayReviewPaging(pageData, target) {
                let pageStr = '<nav aria-label="Page navigation example">';
                pageStr += '<ul class="pagination pagination-sm justify-content-sm-center">';

                if(pageData.prev) {
                    pageStr += '<li class="page-item"><a class="page-link" href="' + (pageData.startPage -1)  + '">Previous</a></li>';
                }

                for(let i=pageData.startPage; i <= pageData.endPage; i++) {
                    let curPageClass = (pageData.cri.page == i) ? 'active' : '';
                    pageStr += '<li class="page-item ' + curPageClass + '"><a class="page-link" href="' + i + '">' + i + '</a></li>';
                }

                if(pageData.next) {
                    pageStr += '<li class="page-item"><a class="page-link" href="' + (pageData.endPage + 1) + '">Next</a></li>';
                }

                pageStr += '</ul>';
                pageStr += '</nav>';

                target.empty();
                target.append(pageStr);
            }

            // 페이징 번호 클릭
            $("div#reviewPaging").on("click", "li a", function(e) {
                e.preventDefault();
                reviewPage = $(this).attr("href");  // 페이지번호 읽기.
                url = "/review/rev_list/" + prod_id + "/" + reviewPage;
                getPage(url);
            });

            // 상품후기 등록
            $(document).on('click', '#btnReviewSave', function() {
                let prod_id = $(this).data("prod_id"); // 상품코드
                let rev_title = $("#reviewTitle").val(); // 리뷰제목
                let rev_content = $("#reviewContent").val(); // 리뷰내용
                let rev_rate = $("#star-rating .rev_rate.on").length; // 평점(초기 0점)

                if(rev_title == "") {
                    alert("후기 제목을 작성해주세요.");
                    return;
                }

                if(rev_content == "") {
                    alert("후기 내용을 작성해주세요.");
                    return;
                }

                if(rev_rate == 0) {
                    alert("별 평점을 선택하세요.");
                    return;
                }

                let reviewData = {prod_id : prod_id, rev_title : rev_title, rev_content : rev_content, rev_rate : rev_rate};

                $.ajax({
                    url: '/review/save',
                    type: 'post',
                    headers: {
                        "Content-Type" : "application/json", "X-HTTP-Method-Override" : "POST"
                    },
                    data: JSON.stringify(reviewData),
                    dataType: 'text',
                    success: function(response) {
                        if(response === "success") {
                            alert("상품 후기가 등록되었습니다.");
                            location.reload();
                        } else {
                            alert("상품 후기 등록에 실패했습니다.");
                        }
                    }
                });
            });

            // 상품문의 작업
            let inquiryPage = 1;
            let inquiryUrl = "/inquiry/inq_list/" + prod_id + "/" + inquiryPage;

            getInquiryPage(inquiryUrl);

            function getInquiryPage(url) {
                $.getJSON(url, function(data) {
                    fn_displayInquiryData(data.inq_list, $("div#inquiryList"), $("#templateInquiry"));
                    fn_displayInquiryPaging(data.inqPageMaker, $("div#inquiryPaging"));
                });
            }

            function fn_displayInquiryData(inquiryData, target, template) {
                let templateObj = Handlebars.compile(template.html());
                let inquiryHtml = templateObj(inquiryData);

                target.empty();
                target.append(inquiryHtml);
            }

            // 페이징 출력 함수
            function fn_displayInquiryPaging(pageData, target) {
                let pageStr = '<nav aria-label="Page navigation example">';
                pageStr += '<ul class="pagination pagination-sm justify-content-sm-center">';

                if(pageData.prev) {
                    pageStr += '<li class="page-item"><a class="page-link" href="' + (pageData.startPage -1)  + '">Previous</a></li>';
                }

                for(let i=pageData.startPage; i <= pageData.endPage; i++) {
                    let curPageClass = (pageData.cri.page == i) ? 'active' : '';
                    pageStr += '<li class="page-item ' + curPageClass + '"><a class="page-link" href="' + i + '">' + i + '</a></li>';
                }

                if(pageData.next) {
                    pageStr += '<li class="page-item"><a class="page-link" href="' + (pageData.endPage + 1) + '">Next</a></li>';
                }

                pageStr += '</ul>';
                pageStr += '</nav>';

                target.empty();
                target.append(pageStr);
            }

            // 페이징 번호 클릭
            $("div#inquiryPaging").on("click", "li a", function(e) {
                e.preventDefault();
                inquiryPage = $(this).attr("href");  // 페이지번호 읽기.
                url = "/inquiry/inq_list/" + prod_id + "/" + inquiryPage;
                getInquiryPage(url);
            });

            $(document).on('click', '.inquiry-row', function() {
                const inquiryCode = $(this).next('.inquiry-content').attr('id').split('-').pop();
                const contentRow = $(`#inquiry-content-${inquiryCode}`);

                $('.inquiry-content').not(contentRow).hide();
                contentRow.toggle();
            });

            $(document).on('click', '#btnInquirySave', function() {
                let prod_id = $(this).data("prod_id"); // 상품코드
                let inq_title = $("#inquiryTitle").val(); // 문의제목
                let inq_content = $("#inquiryContent").val(); // 문의내용

                if(inq_title == "") {
                    alert("문의 제목을 작성해주세요.");
                    return;
                }

                if(inq_content == "") {
                    alert("문의 내용을 작성해주세요.");
                    return;
                }

                let inquiryData = {prod_id : prod_id, inq_title : inq_title, inq_content : inq_content};

                $.ajax({
                    url: '/inquiry/save',
                    type: 'post',
                    headers: {
                        "Content-Type" : "application/json", "X-HTTP-Method-Override" : "POST"
                    },
                    data: JSON.stringify(inquiryData),
                    dataType: 'text',
                    success: function(response) {
                        if(response === "success") {
                            alert("문의가 등록되었습니다.");
                            location.reload();
                        } else {
                            alert("문의 등록에 실패했습니다.");
                        }
                    }
                });
            });
        });
    </script>
</th:block>
</html>