<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<th:block layout:fragment="content">
    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="font-weight-bolder mb-5">상품페이지</h1>
            </div>
            <img src="/temp_img/top_nintendo.jpg" class="d-block w-100 img-fluid object-fit-cover" alt="IMG2">
        </div>
    </section>
    <div>
        <h5 th:text="'총 ' + ${#lists.size(productList)} + '개 제품'">
    </div>
    <div class="my-4">
        <hr>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="card border-0" th:each="product : ${productList}">
            <div class="ratio ratio-1x1">
                <a th:href="|/product/detail?prod_id=${product.prod_id}|">
                    <img class="card-img-top rounded object-fit-cover" th:src="${'/product/image_display?dateFolderName=' + product.prod_uploadfolder + '&fileName=s_' + product.prod_img}">
                </a>
            </div>
            <div class="card-body px-0">
                <h5 class="card-title fw-bold mb-2" style="font-size: 15px;" th:text="${product.prod_name}"></h5>
                <p class="text-danger fw-bold mb-2" style="font-size: 17px;" th:text="${#numbers.formatDecimal(product.prod_price, 0, 'COMMA', 0, 'POINT')} + '원'"></p>
                <div class="d-flex gap-2">
                    <button type="button" class="btn p-0 border-0" name="addToCart" th:data-prod_id="${product.prod_id}">
                        <i class="bi bi-cart3 fs-5"></i>
                    </button>
                    <button type="button" class="btn p-0 border-0" name="addToWish" th:data-prod_id="${product.prod_id}">
                        <i class="bi" th:classappend="${wishList.contains(product.prod_id)} ? 'bi-heart-fill text-danger' : 'bi-heart'"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</th:block>
<th:block layout:fragment="script2">
    <script>
        $(document).ready(function() {
            // 상품리스트 - 장바구니 아이콘 클릭 시 추가
            $("button[name='addToCart']").on("click", function() {
               let prod_id = $(this).data("prod_id");
               let cart_amount = 1
                $.ajax({
                    url: '/cart/cart_add',
                    type: 'post',
                    data: {prod_id : prod_id, cart_amount : cart_amount},
                    dataType: 'text',
                    success: function(result) {
                        if(result == "success") {
                            alert("장바구니에 담았습니다.");
                            if(confirm("장바구니로 이동하시겠습니까?")) {
                                location.href = "/cart/";
                            }
                        }
                    }
                });
            });

            $("button[name='addToWish']").on("click", function() {
                let prod_id = $(this).data("prod_id");
                let $heartIcon = $(this).find('i.bi');
                let isWished = $heartIcon.hasClass('bi-heart-fill');

                let url = isWished ? '/wish/wish_remove' : '/wish/wish_add';

                $.ajax({
                    url: url,
                    type: 'post',
                    data: {prod_id : prod_id},
                    dataType: 'text',
                    success: function(result) {
                        if(result == "success") {
                            if (isWished) {
                                $heartIcon.removeClass('bi-heart-fill text-danger').addClass('bi-heart');
                            } else {
                                $heartIcon.removeClass('bi-heart').addClass('bi-heart-fill text-danger');
                            }
                        }
                    }
                });
            });
        });
    </script>
</th:block>
</html>