<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.admin.AdminMapper">

    <select id="adLoginPass" parameterType="String" resultType="com.project.mallbydh.admin.AdminDTO">
        select
            admin_id, admin_pw
        from
            admin_tbl
        where
            admin_id = #{admin_id}
    </select>

    <update id="updateAdminLastLogin" parameterType="String">
        update
            admin_tbl
        set
            admin_lastlogin = now()
        where
            admin_id = #{admin_id}
    </update>



</mapper>