<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.admin.product.AdProductMapper">

    <insert id="pro_insert" parameterType="com.project.mallbydh.admin.product.ProductVO">
        insert into
            product_tbl(cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale)
        values
            (#{cate_id}, #{prod_name}, #{prod_price}, #{prod_amount}, #{prod_discount}, #{prod_maker}, #{prod_content}, #{prod_uploadfolder}, #{prod_img}, #{prod_forsale})
    </insert>

    <select id="pro_list" resultType="com.project.mallbydh.admin.product.ProductVO" parameterType="com.project.mallbydh.common.utils.SearchCriteria">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate
        from
            product_tbl
        where
            prod_id > 0
            <include refid="search"></include>
        order by
            prod_id desc
        limit #{pageStart}, #{perPageNum}
    </select>
    
    <select id="getTotalCount" resultType="int">
        select
            count(*)
        from
            product_tbl
        where
            prod_id > 0
            <include refid="search"></include>
    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 'n'.toString()">
                and prod_name like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'c'.toString()">
                and prod_id like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'm'.toString()">
                and prod_maker like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'nm'.toString()">
                and (prod_name like concat('%', #{keyword}, '%')
                or
                prod_maker like concat('%', #{keyword}, '%'))
            </if>
        </if>
    </sql>

    <delete id="pro_check_delete">
        delete from
            product_tbl
        where
            prod_id in
            <foreach collection="prod_id_arr" item="item" open="("  separator="," close=")" >
                #{item}
            </foreach>
    </delete>

    <delete id="pro_delete">
        delete from
            product_tbl
        where
            prod_id = #{prod_id}
    </delete>

    <select id="pro_edit" resultType="com.project.mallbydh.admin.product.ProductVO" parameterType="com.project.mallbydh.common.utils.SearchCriteria">
        select
            *
        from
            product_tbl
        where
            prod_id = #{prod_id}
    </select>

    <update id="pro_update" parameterType="com.project.mallbydh.admin.product.ProductVO">
        update
            product_tbl
        set
            prod_updatedate = now(),
            cate_id = #{cate_id},
            prod_name = #{prod_name},
            prod_price = #{prod_price},
            prod_discount = #{prod_discount},
            prod_maker = #{prod_maker},
            prod_content = #{prod_content},
            prod_uploadfolder = #{prod_uploadfolder},
            prod_img = #{prod_img},
            prod_amount = #{prod_amount},
            prod_forsale = #{prod_forsale},
            prod_priority = IFNULL(#{prod_priority}, 999),
            prod_ordercount = #{prod_ordercount}
        where
            prod_id = #{prod_id}
    </update>

</mapper>