<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.cart.CartMapper">

    <insert id="cart_add">
        insert into
            cart_tbl(prod_id, u_id, cart_amount)
        values
            (#{prod_id}, #{u_id}, #{cart_amount})
        on duplicate key
            update cart_amount = cart_amount + #{cart_amount}
    </insert>

    <select id="cart_list" resultType="HashMap" parameterType="String">
        select
            c.prod_id, c.u_id, c.cart_amount,
            p.prod_name, p.prod_maker, p.prod_price, p.prod_uploadfolder, p.prod_img, p.prod_amount,
            c.cart_amount * p.prod_price as subtotal
        from
            cart_tbl c
        inner join
            product_tbl p
        on
            c.prod_id = p.prod_id
        where
            c.u_id = #{u_id}
    </select>

    <delete id="cart_checkdelete">
        delete from
            cart_tbl
        where
            u_id = #{u_id} and prod_id = #{prod_id}
    </delete>

    <delete id="cart_empty" parameterType="String">
        delete from
            cart_tbl
        where
            u_id = #{u_id}
    </delete>

    <update id="cartUpdate">
        update
            cart_tbl
        set
            cart_amount = #{cart_amount}
        where
            u_id = #{u_id} and prod_id = #{prod_id}
    </update>

    <select id="getSubtotal" resultType="int">
        SELECT (c.cart_amount * p.prod_price) AS subtotal
        FROM cart_tbl c
                 JOIN product_tbl p ON c.prod_id = p.prod_id
        WHERE c.u_id = #{u_id} AND c.prod_id = #{prod_id}
    </select>

    <select id="getCartDetailsByProdId" resultType="map">
        select
            c.prod_id, c.u_id, c.cart_amount, p.prod_name, p.prod_maker, p.prod_price, p.prod_uploadfolder, p.prod_img,
            c.cart_amount * p.prod_price as subtotal
        from
            cart_tbl c
        join
            product_tbl p
        on
            c.prod_id = p.prod_id
        where
            c.u_id = #{u_id} and c.prod_id = #{prod_id}
    </select>

    <select id="getCartDetailsByUserId" resultType="map">
        select
            c.prod_id, c.u_id, c.cart_amount, p.prod_name, p.prod_maker, p.prod_price, p.prod_uploadfolder, p.prod_img,
            c.cart_amount * p.prod_price as subtotal
        from
            cart_tbl c
        join
            product_tbl p
        on
            c.prod_id = p.prod_id
        where
            c.u_id = #{u_id}
    </select>

    <select id="getCartDetailsByProdIds" resultType="map">
        select
            c.prod_id, c.u_id, c.cart_amount, p.prod_name, p.prod_maker, p.prod_price, p.prod_uploadfolder, p.prod_img,
            c.cart_amount * p.prod_price as subtotal
        from
            cart_tbl c
        join
            product_tbl p
        on
            c.prod_id = p.prod_id
        where
            c.u_id = #{u_id} and c.prod_id in
            <foreach item="prod_id" collection="prod_ids" open="(" separator="," close=")">
                #{prod_id}
            </foreach>
    </select>

    <delete id="deleteOrderedItems">
        delete from
            cart_tbl
        where
            u_id = #{u_id} and prod_id in
            <foreach item="prod_id" collection="prod_ids" open="(" separator="," close=")">
                #{prod_id}
            </foreach>
    </delete>

</mapper>