<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.header.HeaderMapper">

    <select id="getProductsByCateId" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            cate_id, cate_parentid, cate_name
        from
            category_tbl
    </select>

</mapper>