<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.admin.manager.ManagerMapper">

    <select id="getManagers" resultType="com.project.mallbydh.admin.manager.AdminVO" parameterType="com.project.mallbydh.common.utils.SearchCriteria">
        select
            *
        from
            admin_tbl
        where
            1=1
            <include refid="search"></include>
            <include refid="admin_status"></include>
        order by
            admin_regdate desc
    </select>

    <select id="getManagerTotalCount">
        select
            count(*)
        from
            admin_tbl
        where
            1=1
            <include refid="search"></include>
            <include refid="admin_status"></include>
    </select>

    <insert id="insertManager">
        insert into
            admin_tbl(admin_name, admin_id, admin_pw)
        values
            (#{admin_name}, #{admin_id}, #{admin_pw})
    </insert>

    <update id="managerSuspend">
        update
            admin_tbl
        set
            admin_status = '정지'
        where
            admin_id = #{admin_id}
    </update>

    <select id="managerEditView" resultType="com.project.mallbydh.admin.manager.AdminVO">
        select
            *
        from
            admin_tbl
        where
            admin_id = #{admin_id}
    </select>

    <update id="managerUpdate">
        update
            admin_tbl
        <set>
            admin_updatedate = now(),
            <if test="admin_pw != null">
                admin_pw = #{admin_pw},
            </if>
            <if test="admin_name != null">
                admin_name = #{admin_name},
            </if>
            <if test="admin_status != null">
                admin_status = #{admin_status},
            </if>
        </set>
        where
            admin_id = #{admin_id}
    </update>

    <sql id="search">
        <if test="cri.searchType != null">
            <if test="cri.searchType == 'id'.toString()">
                and admin_id like concat('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'name'.toString()">
                and admin_name like concat('%', #{cri.keyword}, '%')
            </if>
        </if>
    </sql>

    <sql id="admin_status">
        <if test="admin_status != null and !admin_status.equals('')">
            and admin_status = #{admin_status}
        </if>
    </sql>

</mapper>