<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.order.OrderMapper">

    <insert id="insertOrder" parameterType="com.project.mallbydh.order.OrderVO" useGeneratedKeys="true" keyProperty="ord_code">
        insert into
            order_tbl(u_id, recipient_name, recipient_phone, delivery_zipcode, delivery_addr, delivery_addr_detail, ord_price, delivery_message, ord_name, ord_status)
        values
            (#{u_id}, #{recipient_name}, #{recipient_phone}, #{delivery_zipcode}, #{delivery_addr}, #{delivery_addr_detail}, #{ord_price}, #{delivery_message}, #{ord_name}, #{ord_status})
    </insert>

    <insert id="insertOrderDetail" parameterType="com.project.mallbydh.order.OrderDetailVO">
        insert into
            orderdetail_tbl(ord_code, prod_id, ordt_amount, ordt_price)
        values
            (#{ord_code}, #{prod_id}, #{ordt_amount}, #{ordt_price})
    </insert>

    <select id="getOrderByOrdCode" resultType="Integer">
        select
            ord_code
        from
            order_tbl
        where
            ord_code = ${ord_code}
    </select>

    <select id="getOrdersByUserId" resultType="com.project.mallbydh.order.OrderVO">
        SELECT o.*,
               p.payment_status,
               d.delivery_status,
               first_prod.prod_uploadfolder,
               first_prod.prod_img
        FROM order_tbl o
                 LEFT JOIN payment_tbl p ON o.ord_code = p.ord_code
                 LEFT JOIN delivery_tbl d ON o.ord_code = d.ord_code
                 LEFT JOIN (
            SELECT od.ord_code, p.prod_uploadfolder, p.prod_img
            FROM (
                     SELECT ord_code, prod_id,
                            ROW_NUMBER() OVER (PARTITION BY ord_code ORDER BY prod_id) as rn
                     FROM orderdetail_tbl
                 ) od
                     JOIN product_tbl p ON od.prod_id = p.prod_id
            WHERE od.rn = 1
        ) first_prod ON o.ord_code = first_prod.ord_code
        WHERE o.u_id = #{u_id}
        ORDER BY o.ord_date DESC
    </select>

</mapper>