<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.product.ProductMapper">

    <select id="getProductsByCateId" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_forsale = 'Y'
            and cate_id = #{cate_id}
        order by
            prod_id desc
    </select>

    <select id="getProductsByMultipleCateIds" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_forsale = 'Y'
            and cate_id in
            <foreach item="cate_id" collection="list" open="(" separator="," close=")">
                #{cate_id}
            </foreach>
        order by
            prod_id desc
    </select>

    <select id="getAllProducts" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_forsale = 'Y'
        order by
            prod_id desc
    </select>

    <select id="getProductById" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_id = #{prod_id}
    </select>

    <update id="updateReviewCount" parameterType="Integer">
        update
            product_tbl
        set
            prod_reviewcount = prod_reviewcount +1
        where
            prod_id = #{prod_id}
    </update>

    <update id="updateWishCount" parameterType="Integer">
        update
            product_tbl
        set
            prod_wishcount = prod_wishcount +1
        where
            prod_id = #{prod_id}
    </update>

    <update id="updateInquiryCount" parameterType="Integer">
        update
            product_tbl
        set
            prod_inquirycount = prod_inquirycount +1
        where
            prod_id = #{prod_id}
    </update>

</mapper>