<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.product.ProductMapper">

    <select id="getProductsByCateId" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_forsale = 'Y'
            and cate_id = #{cate_id}
        order by
            prod_id desc
        limit #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="getProductsByMultipleCateIds" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_forsale = 'Y'
            and cate_id in
            <foreach item="cate_id" collection="list" open="(" separator="," close=")">
                #{cate_id}
            </foreach>
        order by
            prod_id desc
        limit #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="getAllProducts" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_forsale = 'Y'
            <include refid="search"></include>
        order by
            prod_id desc
        limit #{pageStart}, #{perPageNum}
    </select>

    <select id="getTotalCountByCateId" resultType="int">
        SELECT count(*)
        FROM product_tbl
        WHERE prod_forsale = 'Y' AND cate_id = #{cate_id}
        <include refid="criSearch"></include>
    </select>

    <select id="getTotalCountByMultipleCateIds" resultType="int">
        SELECT count(*)
        FROM product_tbl
        WHERE prod_forsale = 'Y' AND cate_id IN
        <foreach item="cate_id" collection="list" open="(" separator="," close=")">
            #{cate_id}
        </foreach>
        <include refid="criSearch"></include>
    </select>

    <select id="getTotalCount" resultType="int">
        select
            count(*)
        from
            product_tbl
        where
            prod_forsale = 'Y'
            <include refid="search"></include>
    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 'nm'.toString()">
                and (prod_name like concat('%', #{keyword}, '%')
                or
                prod_maker like concat('%', #{keyword}, '%'))
            </if>
        </if>
    </sql>

    <sql id="criSearch">
        <if test="cri != null and cri.searchType != null">
            <if test="cri.searchType == 'nm'.toString()">
                and (prod_name like concat('%', #{cri.keyword}, '%')
                or
                prod_maker like concat('%', #{cri.keyword}, '%'))
            </if>
        </if>
    </sql>

    <select id="getProductById" resultType="com.project.mallbydh.admin.product.ProductVO">
        select
            prod_id, cate_id, prod_name, prod_price, prod_amount, prod_discount, prod_maker, prod_content, prod_uploadfolder, prod_img, prod_forsale, prod_regdate, prod_updatedate, prod_reviewcount, prod_wishcount, prod_inquirycount
        from
            product_tbl
        where
            prod_id = #{prod_id}
    </select>

    <update id="updateReviewCount" parameterType="Integer">
        update
            product_tbl
        set
            prod_reviewcount = prod_reviewcount +1
        where
            prod_id = #{prod_id}
    </update>

    <update id="updateWishCount" parameterType="Integer">
        update
            product_tbl
        set
            prod_wishcount = prod_wishcount +1
        where
            prod_id = #{prod_id}
    </update>

    <update id="updateInquiryCount" parameterType="Integer">
        update
            product_tbl
        set
            prod_inquirycount = prod_inquirycount +1
        where
            prod_id = #{prod_id}
    </update>

    <select id="getProductNameById" resultType="String">
        select
            prod_name
        from
            product_tbl
        where
            prod_id = #{prod_id}
    </select>

    <select id="getLatestProducts" resultType="com.project.mallbydh.admin.product.ProductVO">
        SELECT *
        FROM product_tbl
        ORDER BY prod_regdate DESC
        LIMIT 8
    </select>

    <select id="getPromotionProducts" resultType="com.project.mallbydh.admin.product.ProductVO">
        SELECT *
        FROM product_tbl
        ORDER BY prod_priority ASC, prod_regdate DESC
        LIMIT 8
    </select>

    <update id="subtractProdAmount">
        update
            product_tbl
        set
            prod_amount = prod_amount - #{prod_amount}
        where
            prod_id = #{prod_id}
    </update>

    <update id="addProdOrderCount">
        update
            product_tbl
        set
            prod_ordercount = prod_ordercount + #{prod_amount}
        where
            prod_id = #{prod_id}
    </update>

    <update id="subtractReviewCount">
        update
            product_tbl
        set
            prod_reviewcount = prod_reviewcount - 1
        where
            prod_id = #{prod_id}
    </update>

    <update id="subtractWishCount">
        update
            product_tbl
        set
            prod_wishcount = prod_wishcount - 1
        where
            prod_id = #{prod_id}
    </update>

    <update id="subtractInquiryCount">
        update
            product_tbl
        set
            prod_inquirycount = prod_inquirycount - 1
        where
            prod_id = #{prod_id}
    </update>


</mapper>