<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.review.ReviewMapper">

    <select id="rev_list" resultType="com.project.mallbydh.review.ReviewVO" parameterType="map">
        select
            rev_code, u_id, prod_id, rev_title, rev_content, rev_rate, rev_regdate
        from
            review_tbl
        where
            prod_id = #{prod_id}
        order by
            rev_code desc
        limit
            #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="getReviewCountByProdId" resultType="int" parameterType="Integer">
        select
            count(*)
        from
            review_tbl
        where
            prod_id = #{prod_id}
    </select>

    <insert id="reviewSave" parameterType="com.project.mallbydh.review.ReviewVO">
        insert into
            review_tbl(u_id, prod_id, rev_title, rev_content, rev_rate)
        values
            (#{u_id}, #{prod_id}, #{rev_title}, #{rev_content}, #{rev_rate})
    </insert>

    <select id="getReviewByUserId" resultType="com.project.mallbydh.review.ReviewVO">
        select
            r.rev_code, r.u_id, r.prod_id, r.rev_title, r.rev_content, r.rev_rate, r.rev_regdate,
            p.prod_uploadfolder, p.prod_img, p.prod_name
        from
            review_tbl r
                JOIN product_tbl p
                ON r.prod_id = p.prod_id
        where
            r.u_id = #{u_id}
        order by
            rev_code desc
        limit
            #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="getReviewCountByUserId" resultType="int">
        SELECT
            count(*)
        FROM
            review_tbl
        WHERE
            u_id = #{u_id}
    </select>

</mapper>