<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mallbydh.wish.WishMapper">

    <select id="getWishListForUser" resultType="int">
        select
            prod_id
        from
            wish_tbl
        where
            u_id = #{u_id}
    </select>

    <select id="checkWish" resultType="int">
        select
            count(*)
        from
            wish_tbl
        where
            u_id = #{u_id} and prod_id = #{prod_id}
    </select>

    <insert id="insertWish">
        insert into
            wish_tbl(prod_id, u_id)
        values
            (#{prod_id}, #{u_id})
    </insert>

    <delete id="wishRemove">
        delete from wish_tbl
        where u_id = #{u_id} and prod_id = #{prod_id}
    </delete>

    <select id="getWishListWithProductInfo">
        select
            w.prod_id, p.prod_name, p.prod_maker, p.prod_price, p.prod_uploadfolder, p.prod_img
        from
            wish_tbl w
                JOIN product_tbl p
                ON w.prod_id = p.prod_id
        WHERE
            w.u_id = #{u_id}
    </select>

</mapper>