<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="content">
    <div class="container my-5">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
          <div class="list-group">
            <a href="/member/order" class="list-group-item list-group-item-action">주문 조회</a>
            <a href="/member/modify" class="list-group-item list-group-item-action">정보 수정</a>
            <a href="/member/pwchange" class="list-group-item list-group-item-action">비밀번호 변경</a>
            <a href="/member/wishlist" class="list-group-item list-group-item-action">찜한상품</a>
			      <a href="/member/myreview" class="list-group-item list-group-item-action">나의 상품리뷰</a>
			      <a href="/member/myinquiry" class="list-group-item list-group-item-action">나의 상품문의</a>
		      	<a href="/member/log" class="list-group-item list-group-item-action">로그인 기록</a>
		      	<a href="/member/delete" class="list-group-item list-group-item-action active">회원탈퇴</a>
          </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
			<div class="mb-4">
				<h2>회원 탈퇴</h2>
			</div>
        </div>
      </div>
    </div>
  </th:block>
</html>
