<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <div class="container" style="margin: 40px 0 40px 0;">
        <div class="text-center" style="margin-bottom: 48px;">
            <h2 class="mb-0 font-weight-bolder">마이페이지</h2>
        </div>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/member/order" class="list-group-item list-group-item-action">주문 조회</a>
                    <a href="/member/modify" class="list-group-item list-group-item-action">정보 수정</a>
                    <a href="/member/pwchange" class="list-group-item list-group-item-action">비밀번호 변경</a>
                    <a href="/member/wishlist" class="list-group-item list-group-item-action">찜한상품</a>
                    <a href="/member/myreview" class="list-group-item list-group-item-action">나의 상품리뷰</a>
                    <a href="/member/myinquiry" class="list-group-item list-group-item-action">나의 상품문의</a>
                    <a href="/member/log" class="list-group-item list-group-item-action active">로그인 기록</a>
                    <a href="/member/delete" class="list-group-item list-group-item-action">회원탈퇴</a>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                <div class="mb-4">
                    <h4 class="mb-0">로그인기록</h4>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
