<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="content">
    <div class="container" style="margin: 40px 0 40px 0;">
        <div class="text-center" style="margin-bottom: 48px;">
            <h2 class="mb-0 font-weight-bolder">마이페이지</h2>
        </div>

        <div>
            <h3>주문상세페이지</h3>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script2">
    <script>
    </script>
</th:block>
</html>
