<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="content">
    <div class="container my-5">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
          <div class="list-group">
            <a href="/member/order" class="list-group-item list-group-item-action">주문 조회</a>
            <a href="/member/modify" class="list-group-item list-group-item-action">정보 수정</a>
            <a href="/member/pwchange" class="list-group-item list-group-item-action active">비밀번호 변경</a>
            <a href="/member/wishlist" class="list-group-item list-group-item-action">찜한상품</a>
			<a href="/member/myreview" class="list-group-item list-group-item-action">나의 상품리뷰</a>
			<a href="/member/myinquiry" class="list-group-item list-group-item-action">나의 상품문의</a>
			<a href="/member/log" class="list-group-item list-group-item-action">로그인 기록</a>
			<a href="/member/delete" class="list-group-item list-group-item-action">회원탈퇴</a>
          </div>
        </div>
		<div class="col-md-9">
			<div class="mb-4">
				<h2>비밀번호 변경</h2>
			</div>

			<form method="post" action="/member/pwchange">
			  <div class="mb-3">
			    <label for="cur_pw" class="form-label">기존비밀번호</label>
			    <input type="password" class="form-control" id="cur_pw" name="cur_pw">
			  </div>
			  <div class="mb-3">
			    <label for="new_pw" class="form-label">신규비밀번호</label>
			    <input type="password" class="form-control" id="new_pw" name="new_pw">
			  </div>
			  <div class="mb-3">
			    <label for="confirm_pw" class="form-label">비밀번호확인</label>
			    <input type="password" class="form-control" id="confirm_pw" name="confirm_pw">
				  <div id="pw_mismatch" class="text-danger" style="display: none; font-size: 0.8em;">신규 비밀번호와 입력한 비밀번호가 일치하지 않습니다</div>
			  </div>
			  <div class="my-5">
				<button type="submit" class="btn btn-info" id="btn_pwchange">변경</button>
			  </div>
			</form>
		</div>

	  </div>
	</div>
  </th:block>
<th:block layout:fragment="script2">
	<script th:inline="javascript">
		$(document).ready(function() {
			function checkPasswordMatch() {
				let new_pw = $("#new_pw").val();
				let confirm_pw = $("#confirm_pw").val();

				if (new_pw === "" || confirm_pw === "") {
					$("#pw_mismatch").hide();
				} else if (new_pw !== confirm_pw) {
					$("#pw_mismatch").show();
				} else {
					$("#pw_mismatch").hide();
				}
			}

			$('#new_pw, #confirm_pw').on('input', checkPasswordMatch);

			$("#btn_pwchange").on("click", function(e) {
				e.preventDefault();

				if ($("#new_pw").val() !== $("#confirm_pw").val()) {
					return;
				}

				$.ajax({
					url: "/member/pwchange",
					type: "POST",
					data: $("form").serialize(),
					success: function(response) {
						if(response === "success") {
							alert("비밀번호가 성공적으로 변경되었습니다.");
							window.location.href = "/member/mypage";
						} else if(response === "fail") {
							alert("비밀번호를 다시 확인해 주세요.");
						}
					}
				});
			});
		});
	</script>
</th:block>
</html>
