<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/ad_layout}">

<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="css">
    <style>
        .table td, .table th {
            vertical-align: middle;
        }

        .product-info {
            padding: 10px;
        }

        .product-container {
            display: flex;
            align-items: center;
        }

        .product-image {
            margin-right: 15px;
        }

        .product-details {
            flex-grow: 1;
        }

        .product-name {
            margin: 0 0 5px 0;
            font-size: 16px;
        }

        .manufacturer {
            margin: 0 0 5px 0;
            font-size: 14px;
        }

        .preview-btn {
            font-size: 12px;
            padding: 2px 5px;
        }

        .product-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div>
        <h2 class="mb-4">상품 목록</h2>
            <div class="card">
                <div class="card-body">
                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        <div>
                            <button type="button" class="btn btn-outline-danger" id="btnCheckDelete">선택삭제</button>
                        </div>
                        <form action="/admin/product/pro_list" method="get">
                            <div class="d-flex">
                                <select class="form-control mr-2" style="width: 150px;" name="searchType">
                                    <option selected>검색옵션</option>
                                    <option value="nm">상품명+제조사</option>
                                    <option value="n">상품명</option>
                                    <option value="m">제조사</option>
                                    <option value="c">상품코드</option>
                                </select>
                                <input class="form-control mr-2" type="search" placeholder="" aria-label="Search" style="width: 200px;" name="keyword">
                                <button class="btn btn-outline-success px-3" type="submit">검색</button>
                            </div>
                        </form>
                    </div>
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th style="width: 3%"><input type="checkbox" id="checkAll"></th>
                                <th style="width: 9%">상품번호</th>
                                <th style="width: 44%">상품정보</th>
                                <th style="width: 11%">판매가</th>
                                <th style="width: 11%">재고량</th>
                                <th style="width: 11%">등록일</th>
                                <th style="width: 11%">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="productVO:${pro_list}">
                                <td class="text-center">
                                    <input type="checkbox" name="check" th:value="${productVO.prod_id}">
                                    <input type="hidden" name="prod_uploadfolder" th:value="${productVO.prod_uploadfolder}">
                                    <input type="hidden" name="prod_img" th:value="|s_${productVO.prod_img}|">
                                </td>
                                <td class="text-center">[[${productVO.prod_id}]]</td>
                                <td class="product-info">
                                    <div class="product-container d-flex align-items-center">
                                        <div class="product-image me-3" style="width: 81px; height: 81px;">
                                            <img th:src="${'/admin/product/image_display?dateFolderName=' + productVO.prod_uploadfolder + '&fileName=s_' + productVO.prod_img}"
                                                 alt="상품 이미지"
                                                 class="img-fluid rounded product-thumbnail">
                                        </div>
                                        <div class="product-details">
                                            <h4 class="product-name mb-1">[[${productVO.prod_name}]]</h4>
                                            <p class="manufacturer mb-2"><small class="text-muted">BRAND : [[${productVO.prod_maker}]]</small></p>
                                            <button class="btn btn-sm btn-outline-primary product-page-btn" th:data-prod-id="${productVO.prod_id}">상품페이지</button>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center font-weight-bold" style="color: red;">[[${#numbers.formatInteger(productVO.prod_price, 1, 'COMMA') + '원'}]]</td>
                                <td class="text-center">[[${productVO.prod_amount}]]</td>
                                <td class="text-center">[[${#dates.format(productVO.prod_regdate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-sm btn-warning" th:data-prod_id="${productVO.prod_id}" name="btn_proEdit">수정</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            th:data-prod_id="${productVO.prod_id}"
                                            th:data-prod_uploadfolder="${productVO.prod_uploadfolder}"
                                            th:data-prod_img="${productVO.prod_img}"
                                            name="btn_proDelete">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 페이징 및 검색 파라미터 정보 : 현재 목록상태를 작업(수정,삭제)을 하고 돌아왔을 때 유지. -->
                <form id="criteriaForm" action="" method="get">
                    <!-- 페이징,검색 파라미터 -->
                    <input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}" />
                    <input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}" />
                    <input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}" />
                    <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />
                    <!-- 수정상품코드 -->
                    <input type="hidden" name="prod_id" id="prod_id">
                </form>
                <!-- /.card-body -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <th:block th:if="${pageMaker.prev}">
                            <li class="page-item">
                                <a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(pageMaker.startPage - 1)}|">Previous</a>
                            </li>
                        </th:block>
                        <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                            <li class="page-item" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
                                <a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${pageMaker.next}">
                            <li class="page-item">
                                <a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(pageMaker.endPage + 1)}|">Next</a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>
    </div>
</th:block>
<th:block layout:fragment="script2">
    <script>
        $(document).ready(function() {
            // 상품페이지 이동 버튼
            $('.product-page-btn').on('click', function() {
                let prodId = $(this).data('prod-id');
                let url = `/product/detail?prod_id=${prodId}`;
                window.open(url, '_blank'); // 새 창으로 열기
            });

            // 제목행 체크박스 클릭 시 전체 상품 선택
            let isCheck = true;
            $("#checkAll").on("click", function() {
                $("input[name='check']").prop("checked", this.checked);
                isCheck = this.checked;
            });

            // 체크박스가 모두 선택된 상태에서 한 개라도 체크를 해제할 경우 제목행 체크박스 선택도 해제
            $("input[name='check']").on("click", function() {
                $("#checkAll").prop("checked", this.checked);
                $("input[name='check']").each(function() {
                    if(!$(this).is(":checked")) {
                        $("#checkAll").prop("checked", false);
                    }
                });
            });

            // 체크박스를 통한 상품 삭제
            $("#btnCheckDelete").on("click", function() {
                if(!confirm("선택하신 상품을 삭제하겠습니까?")) return;

                if($("input[name='check']:checked").length == 0) {
                    alert("삭제할 상품을 선택하세요.");
                    return;
                }

                const prod_id_arr = []; // 배열초기화.
                const prod_uploadfolder_arr = [];
                const prod_img_arr = [];

                $("input[name='check']:checked").each(function() {
                    const $row = $(this).closest('tr'); // 체크박스가 있는 행을 선택
                    prod_id_arr.push($(this).val());
                    prod_uploadfolder_arr.push($row.find('input[name="prod_uploadfolder"]').val());
                    prod_img_arr.push($row.find('input[name="prod_img"]').val());
                });

                $.ajax({
                    url: '/admin/product/pro_check_delete',
                    type: 'post',
                    data: {prod_id_arr: prod_id_arr, prod_uploadfolder_arr: prod_uploadfolder_arr, prod_img_arr: prod_img_arr},
                    dataType: 'text',
                    success: function(result) {
                        if(result == 'success') {
                            alert("선택된 상품이 삭제되었습니다.");
                            location.href = "/admin/product/pro_list";
                        }
                    }
                });
            });

            let criteriaForm = $("#criteriaForm");

            // 관리-삭제 버튼을 통한 상품 삭제
            $("button[name='btn_proDelete']").on("click", function() {
                if(!confirm("상품을 삭제하겠습니까?")) return;

                let prod_id = $(this).data("prod_id");
                let prod_uploadfolder = $(this).data("prod_uploadfolder");
                let prod_img = $(this).data("prod_img");

                $.ajax({
                    url: '/admin/product/pro_delete',
                    type: 'post',
                    data: {prod_id: prod_id, prod_uploadfolder: prod_uploadfolder, prod_img: prod_img},
                    dataType: 'text',
                    success: function(result) {
                        if(result == 'success') {
                            alert("상품이 삭제되었습니다.");
                            location.href = "/admin/product/pro_list";
                        }
                    }
                });
            });

            // 수정하기 버튼
            $("button[name='btn_proEdit']").on("click", function() {
                let prod_id = $(this).data("prod_id");
                $("#prod_id").val(prod_id);
                criteriaForm.attr("action", "/admin/product/pro_edit");
                criteriaForm.submit();
            });

        })
    </script>
</th:block>
</html>