<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/ad_layout}">

<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="css">
    <style>
        .search-option {
            table-layout: fixed;
            width: 100%;
        }

        .search-option th {
            width: 10%;
            background-color: #f5f5f5;
            text-align: center;
        }

        .search-option td {
            text-align: left;
        }

        .search-option .d-flex select {
            flex: 1; /* select-input 비율 설정 */
        }

        .search-option .d-flex input {
            flex: 3; /* select-input 비율 설정 */
        }

        .search-option .d-flex {
            gap: 10px; /* select-input 사이 간격 설정 */
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div>
        <h2 class="mb-4">관리자 목록</h2>

        <div class="card">
            <div class="card-body">
                <p class="mb-2 font-weight-bold" style="font-size: 24px;">Search</p>

                <form action="/admin/member/" method="get">
                    <table class="table table-bordered search-option">
                        <tbody>
                        <tr>
                            <th class="align-middle">검색어</th>
                            <td class="align-middle">
                                <div class="d-flex">
                                    <select class="form-control" name="searchType">
                                        <option selected>전체</option>
                                        <option value="id">아이디</option>
                                        <option value="name">성명</option>
                                    </select>
                                    <input class="form-control" type="search" aria-label="Search" name="keyword">
                                </div>
                            </td>
                            <th class="align-middle">계정상태</th>
                            <td class="align-middle">
                                <div class="form-check form-check-inline mr-3">
                                    <input class="form-check-input" type="radio" name="u_status" id="u_status_all" value="" checked>
                                    <label class="form-check-label" for="u_status_all">전체</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                    <input class="form-check-input" type="radio" name="u_status" id="u_status_active" value="활성">
                                    <label class="form-check-label" for="u_status_active">활성</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="u_status" id="u_status_suspended" value="정지">
                                    <label class="form-check-label" for="u_status_suspended">정지</label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>

                <!-- 페이징 및 검색 파라미터 정보
                <form id="criteriaForm" action="/admin/member/" method="get">
                    <input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}" />
                    <input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}" />
                    <input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}" />
                    <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />
                    <input type="hidden" name="u_status" id="u_status" th:value="${u_status}"/>
                    <input type="hidden" name="admin_id" id="admin_id"> /* 수정에 필요한 값(아이디) */
                </form>-->
            </div>
        </div>

        <hr class="my-3">

        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="text-center">
                    <tr>
                        <th style="width: 3%"><input type="checkbox" id="checkAll"></th>
                        <th style="width: 9%">계정상태</th>
                        <th style="width: 55%">아이디(성명)</th>
                        <th style="width: 11%">계정등록일</th>
                        <th style="width: 11%">최근접속일</th>
                        <th style="width: 11%">관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center align-middle">
                            <input type="checkbox" name="check">
                        </td>
                        <td class="text-center align-middle">계정상태</td>
                        <td class="align-middle">
                            <span>아이디(성명)</span>
                        </td>
                        <td class="text-center align-middle">
                            <p>계정등록일</p>
                        </td>

                        <td class="text-center align-middle">
                            <p>최근접속일</p>
                        </td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-sm btn-warning" name="btnManagerEdit">수정</button>
                            <button type="button" class="btn btn-sm btn-danger" name="btnManagerSuspend">정지</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- pagination
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <th:block th:if="${pageMaker.prev}">
                        <li class="page-item"><a class="page-link movepage" th:href="${pageMaker.startPage - 1}">Previous</a></li>
                    </th:block>

                    <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                        <li class="page-item" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
                            <a class="page-link movepage" th:href="${num}" th:text="${num}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${pageMaker.next}">
                        <li class="page-item"><a class="page-link movepage" th:href="${pageMaker.endPage + 1}">Next</a></li>
                    </th:block>
                </ul>
            </nav>-->
        </div>
    </div>
</th:block>

<th:block layout:fragment="script2">
    <script>
        $(document).ready(function() {

            let criteriaForm = $("#criteriaForm");

            $("a.movepage").on("click", function(e) {
                e.preventDefault(); // <a>태그의 링크기능을 제거

                criteriaForm.find("input[name='page']").val($(this).attr("href"));
                criteriaForm.submit();
            });

            // 제목행 체크박스 클릭 시 전체 상품 선택
            let isCheck = true;
            $("#checkAll").on("click", function() {
                $("input[name='check']").prop("checked", this.checked);
                isCheck = this.checked;
            });

            // 체크박스가 모두 선택된 상태에서 한 개라도 체크를 해제할 경우 제목행 체크박스 선택도 해제
            $("input[name='check']").on("click", function() {
                $("#checkAll").prop("checked", this.checked);
                $("input[name='check']").each(function() {
                    if(!$(this).is(":checked")) {
                        $("#checkAll").prop("checked", false);
                    }
                });
            });
        })
    </script>
</th:block>
</html>